/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 50px;
	padding-bottom: 20px;
}

.jumbotron{
	background-image: url("../images/food_bg.jpg");
    margin-bottom: 0;
    min-height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    text-shadow: 2px 2px 5px #000;
}

.margin-top{
    margin-top: 20px;
}

.jumbotron .container{
    max-width: 60%;
    margin-left: 10%;
}

